<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sbai.finance"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CatchCrashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.future.FutureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.LoginActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的模块 -->
        <activity
            android:name=".activity.mine.UserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ModifyUserNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ClipHeadImageActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>