<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.sbai.finance"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- To auto-complete the email text field in the authCodeLogin form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!-- 定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- VISIBILITY_HIDDEN表示不显示任何通知栏提示的权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <!-- DownloadManager -->
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <!-- 支付宝支付需要5种权限 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- service -->
        <service android:name=".service.PushIntentService"/>
        <service
            android:name=".service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>
        <service android:name=".service.DownloadService"/>

        <!-- meta-data -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APP_KEY}"/>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>

        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CatchCrashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.RewardGetActivity"
            android:theme="@style/DialogTheme.NoTitle.FadeIn"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.economiccircle.OpinionDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".activity.economiccircle.ContentImgActivity"
            android:screenOrientation="portrait"/>

        <!-- Login & Register -->
        <activity
            android:name=".activity.mine.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginPageEnter"/>
        <activity
            android:name=".activity.mine.InputPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AuthCodeActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的模块 -->
        <activity
            android:name=".activity.mine.ModifyUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ModifyUserNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ClipHeadImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.UserDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AttentionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.FansActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PublishActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.PredictionRuleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.PublishOpinionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CreditApproveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CreditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.LocationActivity"
            android:screenOrientation="portrait"/>
        <!-- 反馈 -->
        <activity
            android:name=".activity.mine.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!-- 明细 -->
        <activity
            android:name=".activity.mine.FundDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 选择相册图片 -->
        <activity
            android:name=".activity.mine.ImageSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ImagePreViewActivity"
            android:screenOrientation="portrait"/>

        <!-- 我的: 设置 Setting -->
        <activity
            android:name=".activity.mine.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.ShieldRelieveSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.SetNotificationSwitchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.SecurityCenterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.UpdateSecurityPassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.mine.setting.ForgetSecurityPassActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.mine.setting.UpdatePasswordActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AreaTakePhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.EconomicCircleNewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.EconomicCircleNewMessageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.wallet.WalletActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.wallet.RechargeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.mine.wallet.BindBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.recharge.BankCardPayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.wallet.WithDrawActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.mine.wallet.WithDrawDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.cornucopia.CornucopiaActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.cornucopia.EarningsAndExpendDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.future.FuturesListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.EventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.OptionalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.SearchOptionalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.TopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.future.FutureTradeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.StockListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.SearchStockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.StockDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.StockIndexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.TopicDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 观点大神 -->
        <activity
            android:name=".activity.opinion.OpinionActivity"
            android:screenOrientation="portrait"/>

        <!-- 交易 H5 -->
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.TradeWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.BannerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.HideTitleWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.EventDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.StockNewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.recharge.PayIntentionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.CompanyIntroActivity"
            android:screenOrientation="portrait"/>
        <!-- 相册图片预览 -->

        <activity
            android:name=".activity.recharge.WeChatPayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 期货大战 -->
        <activity
            android:name=".activity.battle.FutureBattleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.battle.BattleListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.battle.BattleRecordListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.battle.CreateBattleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.battle.ChooseFuturesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.battle.BattleHisRecordActivity"
            android:screenOrientation="portrait"/>

        <!-- alipay -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
        </activity>

        <!-- 排行榜 -->
        <activity
            android:name=".activity.leaderboard.LeaderBoardsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leaderboard.LeaderBoardDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- 小姐姐 -->
        <activity
            android:name=".activity.miss.MissProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".activity.miss.MyQuestionsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.miss.QuestionDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".activity.miss.SubmitQuestionActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.miss.CommentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".activity.miss.RewardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.miss.MessagesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.miss.MissAvatarActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leveltest.LevelTestStartActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leveltest.LevelExamQuestionsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leveltest.ExamResultActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leveltest.HistoryTestResultActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.miss.ReplyActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>


        <!-- 发现 -->
        <activity
            android:name=".activity.discovery.DailyReportDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.discovery.DailyReportActivity"
            android:screenOrientation="portrait"/>

        <!-- 训练 -->
        <activity
            android:name=".activity.train.MoreTrainFeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity
            android:name=".activity.train.ScoreIntroduceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.train.TrainExperienceActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leaderboard.ProfitBoardListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.leaderboard.IngotOrSavantLeaderBoardActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.studyroom.StudyRoomActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.train.LookBigPictureActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.train.WriteExperienceActivity"
            android:screenOrientation="portrait"/>

    </application>
</manifest>