<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.sbai.finance">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.CatchCrashActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.economiccircle.OpinionDetailsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <activity
            android:name=".activity.mine.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.future.FutureListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mutual.MutualActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.EventActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.BorrowMoneyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.OptionalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.SearchOptionalActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.home.TopicActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.future.FutureTradeActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.StockListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.SearchStockActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.StockDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.StockIndexActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.TopicDetailActivity"
            android:screenOrientation="portrait"/>
        <!-- 互助 -->
        <activity
            android:name=".activity.mutual.BorrowActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mutual.BorrowDetailsActivity"
            android:screenOrientation="portrait"/>
        <!-- 观点大神 -->
        <activity
            android:name=".activity.opinion.OpinionActivity"
            android:screenOrientation="portrait"/>
        <!-- 我的模块 -->
        <activity
            android:name=".activity.mine.ModifyUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ModifyUserNameActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.ClipHeadImageActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.NewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.UserDataActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AttentionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.FansActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.PublishActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.PredictionRuleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.PublishOpinionActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CreditApproveActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.CreditActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.economiccircle.ContentImgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.LocationActivity"
            android:screenOrientation="portrait"/>

        <!-- 交易 H5 -->
        <activity
            android:name=".activity.WebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.trade.TradeWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.BannerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.HideTitleWebActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.EventDetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.web.StockNewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.economiccircle.GoodHeartPeopleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.recharge.PayIntentionActivity"
            android:screenOrientation="portrait"/>

        <!-- 反馈 -->
        <activity
            android:name=".activity.mine.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"/>
        <!-- 明细 -->
        <activity
            android:name=".activity.mine.TheDetailActivity"
            android:screenOrientation="portrait"/>

        <!-- 选择相册图片 -->
        <activity
            android:name=".activity.mine.ImageSelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.stock.CompanyIntroActivity"
            android:screenOrientation="portrait"/>
        <!-- 相册图片预览 -->

        <activity
            android:name=".activity.mine.ImagePreViewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.recharge.WeChatPayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.recharge.AliPayActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:excludeFromRecents="true"
            android:theme="@style/Theme.UMDefault"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <!-- 我的设置模块 -->
        <activity
            android:name=".activity.mine.setting.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.ShieldRelieveSettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.SetNotificationSwitchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.SafetySettingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.setting.ModifySafetyPassActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.mine.setting.ForgetPassWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".activity.mine.AreaTakePhoneActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.EconomicCircleNewsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.mine.EconomicCircleNewMessageActivity"
            android:screenOrientation="portrait"/>

        <!-- service -->
        <service android:name=".service.PushIntentService"/>
        <service
            android:name=".service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APP_KEY}">
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}"/>

        <activity android:name=".activity.mine.wallet.WalletActivity">
        </activity>
        <activity android:name=".activity.mine.wallet.RechargeActivity">
        </activity>
        <activity android:name=".activity.mine.wallet.BindBankCardActivity">
        </activity>
        <activity android:name=".activity.recharge.BankCardPayActivity">
        </activity>
        <activity android:name=".activity.mine.wallet.WithDrawActivity">
        </activity>
        <activity android:name=".activity.mine.wallet.WithDrawDetailsActivity">
        </activity>
    </application>

</manifest>